<% if @appleSongs %>
  <% @appleSongs.each do |appleSong| %>
   <ul>
    <% if appleSong["isStreamable"] == true %>
   
      <li><%= appleSong["trackName"] %></li>
    <% elsif appleSong["isStreamable"] == false %>
      <li>Sorry, this is not streaming on Apple Music</li>
   
                    
    <% end %>
    </ul>
  <% end %>

<% end %>