<div class="links">  
  <li><%= link_to "Albums", :back %></li>
  <li><a href="/">Home</a></li>
</div>
<% if @appleSongs %>
  <% @appleSongs.each do |appleSong| %>
    <ul>
    <% if appleSong["isStreamable"] == true %>
          <!--  <li id="spotDisplay"><%#= appleAlbum["collectionName"] %></li> -->
      <li id="spotDisplay"><%= appleSong["trackName"] %></li>
      <li><%#= image_tag appleAlbum["artworkUrl100"] %></li> 
  <% else appleSong["isStreamable"] == false %>
  <p>Sorry, this is not streaming on Apple Music</p>


                    
    <% end %>
    </ul>
  <% end %>
<% end %>