<% if @appleSongs %>
  <% @appleSongs.each do |appleSong| %>
 
    <% if appleSong["isStreamable"] == true %>
    <ul>
      <li><%= appleSong["trackName"] %></li>

  <!-- <p>Sorry, this is not streaming on Apple Music</p> -->
    </ul>

                    
    <% end %>
    
  <% end %>
<% end %>