<% if @rhapSongs %>
  <% @rhapSongs.each do |rhapSong| %>
    <ul>
      <li><%= rhapSong["name"] %></li>
    </ul>
    <% end %>
  <%# else %>
          <!-- <li id="noMessage">Sorry, this is not streaming on Rhapsody</li> -->
<% end %>