 <% if @rhapAlbums %>
  <% @rhapAlbums.each do |rhapAlbum| %>
    <% if rhapAlbum["type"]["name"]["Main Releases"] %>
      <ul>
        <li id="spotDisplay"><%= rhapAlbum["name"] %></li>
          <% if rhapAlbum["images"][0] %>
            <li><%= image_tag rhapAlbum["images"][0]["url"] %></li>
            <li><%= link_to "Songs", rhapsody_songs_path(rhapAlbum["id"].gsub(/[^0-9]/, '')), :remote => true %></li>
            <div id="rhapsodySongs"></div>
      </ul>
          <% end %>
    <% end %>
  <% end %>
  <% else %>
    <li>Sorry, there are no results for this search</li>
<% end %>