 <% if @rhapAlbums %>
  <% @rhapAlbums.each do |rhapAlbum| %>
    <% if rhapAlbum["type"]["name"]["Main Releases"] %>
      <ul>
        <div class="links">
          <li id="spotDisplay"><%= rhapAlbum["name"] %></li>
          <li><%= link_to "Songs", rhapsody_songs_path(rhapAlbum["id"].gsub(/[^0-9]/, '')), :remote => true %></li>
         </div>
            <% if rhapAlbum["images"][0] %>
            <li><%= image_tag rhapAlbum["images"][0]["url"], :class => "album_art" %></li>
            <li id="<%= rhapAlbum["id"].gsub(/[^0-9]/, '') %>"></li>  
      </ul>
      <% end %>
    <% end %>
  <% end %>
  <%# else %>
    <!-- <li>Sorry, there are no results for this search</li> -->
<% end %>