<% if @spotAlbums %>
  <% @spotAlbums["items"].each do |spotAlbum| %>
    <%# if spotAlbum["available_markets"].include?["US"] %>
    <%# if spotAlbum["US"] %>
    <ul>
      <div class="links"> 
        <li id="spotDisplay"><%= spotAlbum["name"] %></li>
        <li><%= link_to "View Songs", spotify_songs_path(spotAlbum["id"]), :remote => true %></li>
      </div>
      <li><%= image_tag spotAlbum["images"][0]["url"], :class => "album_art" %></li>
      <li id="<%= spotAlbum["id"]%>"></li>
      <!-- <li id= "<%#= @spotAlbums["items"].index(spotAlbum) %>"></li> -->
    </ul>
    <%# end %>
  <% end %>
  <%# else %>
    <!-- <li>Sorry, there are no results for this search</li> -->
<% end %>