<% if @spotAlbums %>
  <% @spotAlbums["items"].each do |spotAlbum| %>
    <div class="showSpotAlbum">
      <ul>
        <div class="links"> 
          <li id="spotDisplay"><%= spotAlbum["name"] %></li>
          <li><%= link_to "View Songs", spotify_songs_path(spotAlbum["id"]), :remote => true, :class => "spotSongDisplay" %></li>
        </div>
        <div class="showSongs">
          <li><%= image_tag spotAlbum["images"][0]["url"], :class => "album_art" %></li>
          <li id="<%= spotAlbum["id"]%>"></li>
        </div>
      </ul>
    </div>
<%# else %>
    <!-- <li>Sorry, there are no songs by this artist on Spotify</li> -->
  <% end %>
  <% else %>
    <li>Sorry, there are no results for this search</li>
<% end %>