<% if @spotSongs %>
  <% @spotSongs["items"].each do |spotSong| %>
    <%# if spotAlbum["ava"]["US"] %>
      <ul> 
        <li><%= spotSong["name"] %></li>

      </ul>
    <%# end %>
  <% end %>
  <%# else %>
    <!-- <li id="noMessage">Sorry, this is not streaming on Spotify</li> -->
<% end %>