<h1 id="welcome">Welcome to StreamSearch</h1>
<h1 id="searchby">StreamSearch</h1>
<div id="main">
  <h3>Search Spotify, Apple Music, Google Play, and Rhapsody to find the music that you are looking for!</h3>
</div>
<div id="search-instructions">
  <h3>Search by Artist, Album, or Song</h3>
</div>

<button id="begin">Click to Begin</button>
<%#= link_to "Click to Begin", "#", id: "begin" %> 
<input id="search-bar" name="user[name]" type="search" value="Artist, Album, Song" />
<!-- <i class="fa fa-search" aria-hidden="true"></i> -->

