<!-- <div id="spotty">  
  <div class="spotifyResults">
    <div id="spotify">
      <strong>Spotify</strong>
    </div>
  </div><br><br><br>

    <div class="spotifyResults">
      <% #if @spotAlbums %>
        <%# @spotAlbums["items"].each do |spotAlbum| %>
          <%# if spotAlbum["ava"]["US"] %>
            <ul> 
              <li><%#= spotAlbum["name"] %></li>
              <li><%#= image_tag spotAlbum["images"][0]["url"], :class => "album_art" %></li>

            </ul>
          <%# end %>
        <%# end %>
      <%# end %>
    </div>
</div> -->

<!-- <div id="appy">
  <div class="appleResults">
    <div id="apple">
      <strong>Apple Music:</strong>
    </div>
  </div><br><br><br>
    <div class="appleResults">
      <%# if @appleAlbums %>
        <%# @appleAlbums.each do |appleAlbum| %>
          <ul>
          <%# if result["isStreamable"] == true%>
            <li id="spotDisplay"><%#= appleAlbum["collectionName"] %></li>
            <li><%#= image_tag appleAlbum["artworkUrl100"] %></li> 
          </ul>
        <%# end %>
      <%# end %>
    </div>
</div> -->

 <div class="rhapResults">
    <div id="rhapsody">
      <strong>Rhapsody:</strong>
    </div>
  </div><br><br><br>
  <div class="rhapResults">
      <% if @rhapAlbums %>
        <% @rhapAlbums.each do |rhapAlbum| %>
        <ul>
          <li id="spotDisplay"><%= rhapAlbum["name"] %></li>
        </ul>
        <% end %>
      <% end %>
  </div>

   