<!-- <div id="spotty">  
  <div class="spotifyResults">
    <div id="spotify">
      <%#= image_tag ("spotify.png"), :class => "icon" %><strong>Spotify</strong>
    </div>
  </div><br><br><br>

    <div class="spotifyResults">
      <%# if @spotAlbums %>
        <%# @spotAlbums["items"].each do |spotAlbum| %>
          <%# if spotAlbum["ava"]["US"] %>
            <ul> 
              <li><%#= spotAlbum["name"] %></li>
              <li><%#= image_tag spotAlbum["images"][0]["url"], :class => "album_art" %></li>
              <li><a href="songs/<%#= spotAlbum["id"] %>">Songs</a></li>

            </ul>
          <%# end %>
        <%# end %>
        <%# else %>
        <li>Sorry, there are no results for this search</li>
      <%# end %>
    </div>
</div> -->

<div id="appy">
  <div class="appleResults">
    <div id="apple">
      <%= image_tag ("apple.png"), :class => "icon" %><strong>Apple Music</strong>
    </div>
  </div><br><br><br>
      <div class="links">
       
      </div>
    <div class="appleResults">

      <% if @appleAlbums %>
        
        <% @appleAlbums.each do |appleAlbum| %>
          <ul>
            <li id="spotDisplay"><%= appleAlbum["collectionName"] %></li>
            <li><%= image_tag appleAlbum["artworkUrl100"] %></li>
            <% if appleAlbum["collectionId"] %>
            <div class="links">
              <li><a href="songs/<%= appleAlbum["collectionId"] %>">Songs</a></li>
              <li><a href="/">Home</a></li>
            <% end %>
          </ul>
        <% end %>
        <% else %>
        <li>Sorry, there are no results for this search</li>
        <li><a href="/">Home</a></li>
      <% end %>

    </div>
</div>
<!-- 
 <div class="rhapResults">
    <div id="rhapsody">
      <%#= image_tag ("rhapsody.png"), :class => "icon" %><strong>Rhapsody</strong>
    </div>
  </div><br><br><br>
  <div class="rhapResults">
      <%# if @rhapAlbums %>
        <%# @rhapAlbums.each do |rhapAlbum| %>
          <%# if rhapAlbum["type"]["name"]["Main Releases"] %>
            <ul>
              <li id="spotDisplay"><%#= rhapAlbum["name"] %></li>
              <%# if rhapAlbum["images"][0] %>
              <li><%#= image_tag rhapAlbum["images"][0]["url"] %></li>
            </ul>
             <li><a href="songs/<%#= rhapAlbum["id"].gsub(/[^0-9]/, '') %>">Songs</a></li>
            <%# end %>
          <%# end %>
        <%# end %>
        <%# else %>
        <li>Sorry, there are no results for this search</li>
      <%# end %>
  </div> -->

   