<!-- <div id="spotty">  
  <div class="spotifyResults">
    <div id="spotify">
      <%#= image_tag ("spotify.png"), :class => "icon" %><strong>Spotify</strong>
    </div>
  </div><br><br><br>

    <div class="spotifyResults">
      <%# if @spotSongs %>
        <%# @spotSongs["items"].each do |spotSong| %>
          <%# if spotAlbum["ava"]["US"] %>
            <ul> 
              <li><%#= spotSong["name"] %></li>
           

              <li><%#= image_tag spotAlbum["images"][0]["url"], :class => "album_art" %></li>

            </ul>
          <%# end %>
        <%# end %>
       <%# else %>
            <li id="noMessage">Sorry, this is not streaming on Spotify</li>
      <%# end %>
    </div>
</div> -->

<div id="appy">
  <div class="appleResults">
    <div id="apple">
      <%= image_tag ("apple.png"), :class => "icon" %><strong>Apple Music</strong>
    </div>
  </div><br><br><br>

    <div class="appleResults">
      <div class="links">  
        <li><%= link_to "Albums", :back %></li>
        <li><a href="/">Home</a></li>
      </div>
      <% if @appleSongs %>
        <% @appleSongs.each do |appleSong| %>
          <ul>
          <% if appleSong["isStreamable"] == true %>
          <!--  <li id="spotDisplay"><%#= appleAlbum["collectionName"] %></li> -->
            <li id="spotDisplay"><%= appleSong["trackName"] %></li>
            <li><%#= image_tag appleAlbum["artworkUrl100"] %></li> 
          <%# else appleSong["isStreamable"] == false %>
            <!-- <li>Sorry, this is not streaming on Apple Music</li> -->


                    
          <% end %>
          </ul>
        <% end %>
      
      <% end %>
    </div>
</div>

<!--  <div class="rhapResults">
    <div id="rhapsody">
      <%#= image_tag ("rhapsody.png"), :class => "icon" %><strong>Rhapsody</strong>
    </div>
  </div><br><br><br>
  <div class="rhapResults">
      <%# if @rhapSongs %>
          <%# @rhapSongs.each do |rhapSong| %>
          <ul>
            <li id="spotDisplay"><%#= rhapSong["album"]["name"] %></li>
          </ul>
        
        
          <%# if rhapAlbum["type"]["name"]["Main Releases"] %>
            <ul>
              <li><%#= rhapSong["name"] %></li>

              <%# if rhapAlbum["images"][0] %>
              <li><%#= image_tag rhapAlbum["images"][0]["url"] %></li>
            </ul>
            <%# end %>
          <%# end %>
        <%# end %>
        <%# else %>
          <li id="noMessage">Sorry, this is not streaming on Rhapsody</li>
      <%# end %>
  </div> -->

   