// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #C9D6EA;
  color: #3C362A;
  font-family: Raleway;
  margin: none;
}

#welcome {
  font-family: Syncopate;
  text-shadow: 3px 3px #B8C4BB;
  margin-top: 35px;
  font-size: 40px;
}

.searchResults {
  float: left;
  width: 385px;
  margin-left: 15px;
  padding: 5px;
  // height: 500px;
  border: 1px solid #3C362A;
  background-color: #C9D6EA;
  box-shadow:  -1px 1px #3C362A,
       -2px 2px #3C362A,
       -3px 3px #3C362A,
       -4px 4px #3C362A,
       -5px 5px #3C362A;
}

#spotifyAlbums {
  display: none;
  height: 475px;
    overflow: auto;
}

#appleAlbums {
  display: none;
  height: 475px;
    overflow: auto;
}

#rhapsodyAlbums {
  display: none;
  height: 475px;
    overflow: auto;
}

.aristSpotAlbum {
  display: inline;
  margin-bottom: 25px;
}

.aristAppleAlbum {
  display: inline;
  margin-bottom: 25px;
}

.aristRhapAlbum {
  display: inline;
  margin-bottom: 25px;
}

h1 {
  text-align: center;
}



h3 {
  text-align: center;
  width: 450px;
  margin-left: 400px;
  margin-top: 75px;
  text-shadow: 1px 1px #B8C4BB;
}

#begin {
  width: 200px;
  font-size: 25px;
  text-align: center;
  margin-left: 525px;
  margin-top: 100px;
  background-color: #C9D6EA;
  border: 2px solid #01161E;
  // border-radius: 20px;
  box-shadow: 3px 5px 3px;
  text-decoration: none;
  color: #3C362A;
  padding: 5px;
}

.search-bar {
  // display: none;
  width: 400px;
  margin-left: 475px;
  height: 50px;
  margin-top: 50px;
  outline: 0;
  color: #3C362A;
}

// .song-search-bar {
//   display: none;
//   width: 400px;
//   margin-left: 475px;
//   height: 50px;
//   margin-top: 50px;
//   outline: 0;
//   color: #124559;
// }

#search {
  width: 300px;
  height: 30px;
  font-size: 20px;
}

#search:focus {
  outline: 0;
}

.searchTag {
  // width: 25px;
  margin-left: -65px;
  // margin-top: -5px;
  // background-color: #01161E;
  height: 30px;
  color: #598392;
  font-size: 15px;
  // border: 2px solid #01161E;
}

.searchTag:focus {
  outline: 0;
}

.searchTag:hover {
  color: #01161E;
  font-size: 20px;
  margin-left: -80px;
}

.search-bar #search {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.search-bar .searchTag {
  border-radius: 4px;
  border: 0px;
  background-color: transparent;
}

.results {
  margin-top: 50px;
}

.spotifyResults {
  float: left;
  width: 385px;
  margin-left: 15px;
  padding: 5px;
  border: 1px solid #3C362A;
  background-color: #C9D6EA;
  box-shadow:  -1px 1px #3C362A,
       -2px 2px #3C362A,
       -3px 3px #3C362A,
       -4px 4px #3C362A,
       -5px 5px #3C362A;
}

#spotify {
  margin-left: none;
  font-size: 20px;
  text-shadow: 2px 2px #B8C4BB ;
}

.appleResults {
  float: left;
  width: 385px;
  margin-left: 15px;
  padding: 5px;
  border: 1px solid #3C362A;
  background-color: #C9D6EA;
  box-shadow:  -1px 1px #3C362A,
       -2px 2px #3C362A,
       -3px 3px #3C362A,
       -4px 4px #3C362A,
       -5px 5px #3C362A;
}

#apple {
  margin-left: none;
  font-size: 20px;
  text-shadow: 2px 2px #B8C4BB;
}

.rhapResults {
  float: left;
  width: 385px;
  margin-left: 15px;
  padding: 5px;
  border: 1px solid #3C362A;
  background-color: #C9D6EA;
  box-shadow:  -1px 1px #3C362A,
       -2px 2px #3C362A,
       -3px 3px #3C362A,
       -4px 4px #3C362A,
       -5px 5px #3C362A;
}

#rhapsody {
  margin-left: none;
  font-size: 20px;
  text-shadow: 2px 2px #B8C4BB;
}

ul {
  list-style: none;
  margin-left: -40px;
}

li a {
  text-decoration: none;
  color: #01161E; 
}

li a:hover {
  text-decoration: none;
  color: #598392;
}

#spotty {
  float: left;
}

#appy {
  float: left;
}

#spotDisplay {
  font-size: 20px;
}

.album_art {
  width: 100px;
  margin-bottom: 10px;
}

.icon {
  width: 30px;
  margin-right: 10px;
}

.links li {
  display: inline;
}